* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;;
  color: #FAFAFA;

  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#view, #clone_node{
  height: 100vh;
  width: 100vw;


  overflow-x: hidden;
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;

  /*z-index: -1;*/
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.search-container {
  display: none;

  max-height: 200px;
  overflow-y: scroll;

  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #777;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  font-size: 0.9em;

  padding-left: 12px;

  -moz-box-shadow:    inset  0  8px 8px -8px rgba(0,0,0,0.4),
                      inset  0 -8px 8px -8px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.4),
                      inset  0 -8px 8px -8px rgba(0,0,0,0.4);
  box-shadow:         inset  0  8px 8px -8px rgba(0,0,0,0.4),
                      inset  0 -8px 8px -8px rgba(0,0,0,0.4);


  transition: all 0.3s ease;
}



.hidden {
  display: block;
  max-height: 0;
  overflow: hidden;
}

.search-results {
  padding: 5px 0 5px 10px;
  width: calc(100vw - 10px);
}

.search-results:hover{
  background: rgba(0,0,0, 0.05);
}

/*.home-namespace::before {
  content: '';
  position: absolute;

  background-color: rgba(255,255,255,0.2);

  top: -200px;
  right: -400px;

  height: 400px;
  width: 600px;

  transform: rotate(35deg);
}

.home-namespace::after{
  z-index: 0;
  content: '';
  position: absolute;

  background-color: rgba(0,0,0,0.2);

  top: -270px;
  left: -400px;

  height: 400px;
  width: 600px;

  transform: rotate(-25deg);
}*/

#view.build-namespace, #view.home-namespace {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  position: absolute;
  z-index: 1;

  background-color: #FAFAFA;
  padding: 8px 12px;
  border-radius: 8px;

  outline: none;
}

h1.title {
  font-size: 3.0em;

  font-weight: 300;

  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.home-namespace h1.title {
  margin-top: 12vh;
  text-align: center;

  color: rgba(74, 218, 255, 0.8);
}

svg {
  display: block;
  margin: 10px auto;

  transform: rotate(270deg);
}

svg text {
  font-weight: 100;
}

.timer-container {
  position: relative;
}

.time-remaining {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* BUILD CSS */

.build-container, .home-container {
  position: relative;

  /*background-color: rgba(255,255,255, 0.9);*/
  width: calc(100vw);
              /*  navbar, iOS header, save button  */
  height: calc(100vh - 49px - 20px - 61px);

  padding-bottom: 1px;

  /*padding: 0 20px*/
  overflow-y: scroll;
}

.home-container {
  position: relative;

  /*background-color: rgba(255,255,255, 0.9);*/
  width: calc(100vw);
              /*  navbar, iOS header, save button  */
  height: calc(100vh - 49px - 20px);

  padding-bottom: 1px;

  /*padding: 0 20px*/
  overflow-y: scroll;
}

.clock {
  position: absolute;

  z-index: 100;

  width: 41px;
  height: 41px;

  right: 10px;
  top: 40px;

  font-size: 1.8em;

  color: #0074c2;
  background-color: #f1f1f1;

  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.2);
}

.settings {
  position: absolute;

  z-index: 100;

  width: 41px;
  height: 41px;

  left: 10px;
  top: calc(40px - 20px);

  font-size: 1.8em;

  color: #666;
  background-color: #f1f1f1;

  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.2);
}

.clock-icon, .settings-icon {
  opacity: 0.75;

  margin-top: 7px;
  margin-left: 8px;
}

.header {
  /*height: 200px;*/

  /*border-bottom: 3px solid rgba(0, 117, 194, .4);*/
  /*border-radius: 1.5px;*/
  width: calc(100vw - 40px);
  background-color: rgba(255,255,255,0.1);
  padding: 10px 20px 10px 20px;
}

.timer.default {
  display: none;
}

nav.tabs {
  position: absolute;

  bottom: 0;

  height: 48px;

  padding: 0;
  margin: 0;

  width: 100vw;
  font-size: 1.5em;
  background-color: #E8E8E8;
  color: #b3b3b3;

  /*box-shadow: 0 -5px 5px -5px #222;*/
}

nav.tabs .ind-tab {
  display: inline-block;

  text-align: center;

  padding: 10px 0;
  margin: 0;

  width: calc(33vw - 2px);

  /*border-left: 1px*/
}

.darken {
  -webkit-filter: blur(5px) contrast(50%);
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.timer {
  position: absolute;

  width: 100vw;
  margin-top: 150px;
  z-index:1;
}

input {
  text-overflow: ellipsis;

  outline: none;
  background: transparent;

  color: #fafafa;

  font-weight: 400;
  font-size: 1.0em;

  padding: 8px 6px;
  border: 0;
}

input.date-picker {
  position:relative;
  display: inline-block;

  width: 136px;
  font-size: 0.8rem;

  margin-top: 10px;

  background-color: transparent;;
  color: #a7c9e0;

  border-radius: 3px;

  transition: all 0.3s ease-out;
}

.bottom-row {
  position: relative;
}

.muscle-group-select {
  position: absolute;

  right: -6px;
  bottom: 5px;
  padding: 4px 6px;

  font-size: 0.85em;

  color: #62c370;
  border-radius: 2px;
  /*float: right;*/
}

.muscle-group-selector::before {
  content: '\25B2';
  /*display: none;*/
  color: #fafafa;
  z-index: 12;

  font-size: 1.6em;

  position: absolute;
  top: -20px;
  right: 28px;
}

.muscle-group-selector {
  display: none;
  position: absolute;
  border-radius: 4px;

  color: #444;

  top:50px;
  right: 0px;

  width: 140px;
  background-color: #fafafa;
  z-index: 12;

  padding: 4px 6px;
}



.muscle-group-selector table {
  width: 100%;
  font-weight: 400;
}

.muscle-group-selector td {
  transition: all 0.2s linear;

  text-align: center;
  padding: 4px 4px;
}

.muscle-group-selector td.selected {
  transition: all 0.2s linear;
  color: #45a052;
  /*font-weight: 400;*/
}

.picker--opened .picker__frame {
    top: auto;
    bottom: 49px;
}

input.title {
  padding: 12px 0;

  width: calc(100% - 48px);

  border-bottom: 2px solid rgba(255,255,255, 0.2);
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 3.0px;
  text-transform: uppercase;

  opacity: 0.9;
}

#iOS_header {
  position: relative;
  width: 100vw;
  height: 20px;

  z-index: 10000;

  background-color:#e8e8e8;
}

button.save {
  position: fixed;
  bottom: 48px;
  width: 100vw;

  background: #62c370;
  color: #fafafa;

  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.2px;
  font-size: 1.1em;

  padding: 20px;
  border: 0;
  outline: 0;
}
input.exercise {
  width: calc(100vw - 65px);
  padding: 18px 45px 18px 20px;

  background: rgba(148, 208, 255, 0.3);

  font-size: 1.4em;
  letter-spacing: 2px;
  color: #fafafa;

  border-radius: 3px;
  border: 2px solid rgba(0,0,48,0.2);
  text-transform: capitalize;
  text-overflow: ellipsis;
}

input.new-exercise {
  opacity: 0.4;
}

.new-exercise {
  position: relative;
}

.exercise::-webkit-input-placeholder {
  color: #e5e5e5;
}

.set {
  position: relative;
  width: calc(100vw - 80px);
  padding: 12px 40px;
  border-bottom: 1px solid rgba(255,255,255, 0.6);

  font-size: 1.1em;
  letter-spacing: 1.5px;
}

.set .minus {
  position: absolute;
  bottom: 10px;
  left: 10px;

  font-size: 12px;

  padding: 4px 5.5px 4px 6.5px;

  border-radius: 100%;

  color: #f17070;

  z-index: 10;
}

.new-exercise .minus {
  position: absolute;
  top: 15px;
  right: 8px;

  padding: 5px 15px 5px 2px;

  font-size: 1.4em;

  color: #b3b3b3;

  z-index: 10;

}

.set .plus {
  position: absolute;
  bottom:10px;
  left: 100px;

  font-size: 12px;

  /*width: 24px;*/

  padding: 4px 5.5px 4px 6.5px;


  border-radius: 100%;

  color: #0074c2;
  background-color: #fafafa;

  z-index: 10;
}

.set-number {
  width: 110px;
}

select {
  font-size: inherit;

  color: inherit;
  opacity: 0.7;

  background: transparent;

  border-radius: 0;
  border: 0;
  outline: 0;
}

select.weight-type {
  display: inline-block;
}

input.set-input {
  padding: 0;
  display: inline-block;

  color: rgb(159, 201, 212);
  /*border-bottom: rgba(255,255,255, 0.1);*/
}

input.weight-input {
  text-align: right;
  width: 35px;
}

input.rep-input {
  text-align: right;
  width: 24px;
}

.set-input::-webkit-input-placeholder{
  color: rgba(255,255,255, 0.3);
}


select.rep-type {
  margin-right: -10px;
}


.build-container .reps {
  float: right;
}

.inline-block {
  display: inline-block;
}

nav.tabs .ind-tab.active {
  box-shadow: 0 1px 3px 1px inset;
  color: #777;
}
.header h1 {
  color: #0074c2;
  font-weight: 400;
  text-transform: uppercase;
}

/* HOME CSS */

.workout .workout-header {
  width: calc(100vw - 12px);
  padding: 10px 6px;

  background-color: rgba(255,255,255, 0.02);

  color: rgba(255,255,255, 0.8);
  border-bottom: 0;
}

.workout~.workout > .workout-header{
  width: calc(100vw - 12px);
  padding: 10px 6px;

  background-color: rgba(255,255,255, 0.02);

  color: rgba(255,255,255, 0.8);
  border-top: 1px solid rgba(255,255,255, 0.3);
}

.exercise-name {
  text-transform: capitalize;
  letter-spacing: 1.0px;

  color: #0074ac;

  padding: 6px 0px;
}

.home-container .exercises-container {
    display: none;

    background: #bac5ce; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #bac5ce , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #bac5ce , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #444;

    padding: 6px 8px;
}

.sets-container {
  font-size: 0.8em;
  font-weight: 300;

  padding-bottom: 6px;

  overflow-x: scroll;

}

.set-container {
  /*display: inline-block;*/
  /*display: none;*/
  padding: 0 8px;
  border-right: 1px dashed #444;
}

.set-col {
  display: inline-block;
}

.sets-container td:last-of-type {
  border: 0;
}

.sets-container .times {
  margin: 0 3px;
  font-weight: 700;

  color: #0074ac;

}

.weight, .home-namespace .reps {
  font-weight: 400;
  /*color: #0074ac;*/
}

.workout-name {
  padding-left: 2px;
  display: inline-block;
  position: relative;

  letter-spacing: 1.2px;
  text-transform: uppercase;

  width: 45%;
}
.workout-date {
  position: relative;

  font-weight: 300;
  font-size: 0.9em;
  display: inline-block;;
  text-align: right;
  /*float: right;*/
  width: 45%;
}

button.start-button {
  display: table;
  margin: 16vh auto 40px auto;
  padding: 20px 10px;

  width: 80vw;

  background: #62c370;
  color: #fafafa;

  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.3px;

  border-radius: 12px;
  border: 0;
  outline: 0;
}

button.start-button:hover{
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
}

.recent-header {
  width: 100vw;
  padding: 14px 0;

  letter-spacing: 1.4px;
  text-transform: uppercase;

  text-align: center;
  color: rgba(255,255,255, 0.75);
  background: rgba(148, 208, 255, 0.3);

  font-size: 1.3em;
}

.caret-down {
  position: absolute;
  height: 17px;
  margin-top: 3px;
  right: 10px;

  font-size: 1.1em;

  transition: .2s linear;
}

.caret-down.animate {
  transition        : .2s linear;
  color: rgba(148, 208, 255, 0.6);

    /**
     * Not that ugly as the JavaScript approach.
     * Easy to maintain, the most portable solution.
     */
  -webkit-transform : rotate(90deg);
  transform: rotate(90deg);
}

/* SETTINGS CSS */

.settings-container {
  height: calc(100vh - 20px - 47px);
  width: 100vw;
  background:#dfdfdf;

  color: #444;
}

.settings-header {
  font-size: 1.4em;
  background: #f2f2f2;

  padding: 30px 12px 16px 12px;
  width: calc(100vw - 24px);
  border-bottom: 1px solid #d3d3d3;
}

.back-button {
  z-index: 15;
}

.settings-header .settings-header-text {
  position: absolute;
  z-index: 0;

  text-transform: uppercase;
  font-weight: 300;

  top: 50px;
  left: 60px;
  right: 60px;
  text-align: center;
}

.settings-body {
    font-size: 0.9em;
}

.setting-group {
  margin: 20px 0;
}

.setting {
  width: calc(100vw - 16px);
  padding: 10px 8px;
  background: #f2f2f2;
}

.setting-group table {
  width: 100%;
}

.setting-group td:nth-of-type(3) {
  text-align: right;
}

.setting-group td:nth-of-type(3) input {
  text-align: right;
  padding: 0;
  color: #777;
}

.setting-group td:nth-of-type(1){
  width: 30px;
}

.setting .seconds {
  color: #c8c8c8;
}

.setting~.setting {
  border-top: 1px solid #d3d3d3;
}

.settings-container td .fa-calculator {
  color: #5ca9ce;
}
.settings-container td .fa-clock-o {
  color: #ec9e35;
}

.setting .down-select {
  font-size: 0.9em;
  opacity: 0.5;
}
